

.mainlogin{
    width: 400px;
    text-align: center;
    
    align-items: center;
    
}
/*
.container {
    margin: 80px auto 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #070707;
}
*/
.divisao{
    margin: 10px auto 0;
    background-color : darkred;
}

.combo{
        text-align: justify;
        width: 100%;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom: 0;
        border-top-width: 10px;
        border-top-color: red;
        background-color: #fff;
       
        
        padding: 20px;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.55);
    
}

.combo > p {
   
    font-size: 25px;
    line-height: 30px;
   
    color: #ffca0d;
}

.combo form{
    display: flex;
    flex-direction: column;
}


.combo-tite {
   
    font-size: 22px;
    line-height: 30px;
   
    color: #ffca0d;
}

/*
.combo form label {
    font-size: 15px;
    color: rgb(185, 185, 185);
    font-weight: bold;
    margin-bottom: 8px;
}
*/
/*
.combo form input[type=email], .combo form input[type=password]{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}
*/

.combo button.btnSI {
  border:  0; /* zerando a borda padrao que o btn vem */
  margin-bottom: 10px;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background:  #3b9c00;
  color: #fff;
  cursor: pointer; /* da a impressao de pixel quando passa o mouse*/
}



.combo button.btnSU {
     
    border-style: solid;
    border-color: dimgray;
    
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    
    color: #070707;
    cursor: pointer; /* da a impressao de pixel quando passa o mouse*/
  }

 /*Aprendendo a criar efeito de passar o mouse*/
 .combo button.btn:hover{
    background:  #296901;
 }