.listcontact{
    max-height: 379px;
    overflow-y: scroll;
    cursor: pointer;
    border-top: 1px solid #e4e4e4;

}

.contactcombo{
    padding: 0.4em 0.2em;
    background-color:#fff;
    display: flex;
    border-top: 1px solid #e4e4e4;
    /*border-color: ffffff;*/
}


.addcontactcombo{
    padding: 0.4em 0.2em;
    background-color:#fff;
    display: flex;
    border-top: 1px solid #e4e4e4;
    /*border-color: ffffff;*/
}


.namecontact{
    display: block;
    padding-top: 15px
}

.imgcontact {
    width: 3.5em;
    height: 3.5em;
   background-color: tomato;

}

.imgaddcontact {
    width: 3.5em;
    height: 3.5em;
   background-color:  royalblue;

}

.btn-contact-area{
  
		
} 
.btn-contact-area > button{
    margin-right: 5px;
    border: 0px;
    background-color: transparent;
}

.btn-contact-area :hover {
    background-color: #b7b7b7;
}
.div-btn-contact{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}