.listchat{
    max-height: 28em;
    overflow-y: scroll;
    cursor: pointer;
    border-top: 1px solid #e4e4e4;

}

.imgchat {
    width: 3.5em;
    height: 3.5em;
   background-color: tomato;

}
.conversation{
    padding: 0.4em 0.2em;
    background-color:#fff;
    display: flex;
    border-top: 1px solid #e4e4e4;
    /*border-color: ffffff;*/
}
.listchat :hover{
   background-color: #e5e5e5;
   
}

.conversation:first-child{
    border-top: 0px;
}

b.namecontact{
    display: block;
    text-align: justify;
}


.iconprops{
    text-align: center;
    display: block;
}


