.blumask{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}


.divtreemenu{
    background-color: #fff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.55);
    width: 400px;
    height: 400px;
    
    position: absolute;
    
}
.header-add-contato{
    align-items: center;
    display: flex;
    height: 85px;
    border-bottom: 1px solid #e4e4e4;
}
.div-item-red {
    height: 50px;
    background-color: #d10000;
    width: 10px;
}
.btn-closecontact{
    float: right;
    border: 0px;
    background-color: transparent;
    font-size: x-large;
}
.div-context-contact{
    display: flex;
    align-items: center;
}
.titulo-contact{
    font-size: 25px;
    font-weight: bold;
}
.area-chat{
  color : white ;
  display: grid;
  background-color: gray;
  padding: 10px;
  grid-template-areas: "a2 a2 a2 a2 a2 a2"
                       "a1 a1 a3 a3 a3 a3"
                       "a4 a4 a4 a5 a5 a5"
                       "a6 a6 a6 a6 a6 a6"
}

.r1{
    background-color: red;
}

.r2{
     background-color: blue;

}

.r3{
    background-color: green;

}

.item1{
   grid-area: a1;
}

.item2{
    grid-area: a2;
}

.item3{
    grid-area: a3;
}

.item4{
    grid-area: a4;
}

.item5{
    grid-area: a5;
}

.item6{
    grid-area: a6;
}


.bdg{
   background-color: seagreen;
    width: 80px;
    height: 80px;
    backdrop-filter: blur(1000px);
    position: relative;

 
}