.objectmessage {
    background-color: #fff;
    height: 438px;
    overflow-y: scroll;
    background-image: url('../images/LogoPitangFundo.PNG');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
   
}

.boxmessage{
    /*max-width: 50%;*/
    min-width: 150px;
    background: #eeeeee;
    padding: 2px;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    float: right;
    clear: right;
    word-wrap: break-word;


}
.box-message-main{
    margin: 3px;
    display: flex;
    max-width: 50%;
    min-width: 150px;
    background: #eeeeee;
    float: right;
    clear: right;
  
}


.combomessage{
    background-color: #e5e5e5;
    padding: 10px 10px 10px;
}

.inputmessage {
    width: 100%;
    border-radius: 25px;
    border-style: hidden;
    height: 35px;
    background-color: #d9d9d9;
}

.btn-style-send {
    display: block;
    border-radius: 50%;
    border: hidden;
    width: 38px;
    height: 35px;
    margin-left: 5px;
    background-color: #d9d9d9;
}
.btn-style-send:hover{
    background-color: #fff;
}



.btn-delete-msg{
   
   
   
    padding: 2px;
   /* background-color: transparent;*/
}

