.objectmessage {
    background-color: #fff;
    height: 438px;
    overflow-y: scroll;
}

.boxmessage{
    max-width: 50%;
    min-width: 150px;
    background: #eeeeee;
    padding: 2px;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    float: right;
    clear: right;
    display: block;
    word-wrap: break-word;
}


.combomessage{
    background-color: #e5e5e5;
    padding: 10px 10px 10px;
}

.inputmessage {
    width: 100%;
    border-radius: 25px;
    border-style: hidden;
    height: 35px;
    background-color: #d9d9d9;
}

.btn-style-send {
    display: block;
    border-radius: 50%;
    border: hidden;
    width: 38px;
    height: 35px;
    margin-left: 5px;
    background-color: #d9d9d9;
}
.btn-style-send:hover{
    background-color: #fff;
}