.listchat{
    max-height: 28em;
    overflow-y: scroll;
    cursor: pointer;
    border-top: 1px solid #e4e4e4;

}

.imgchat{
    width: 3.5em;
    height: 3.5em;
   background-color: tomato;

}

.imgchat {
    width: 3.5em;
    height: 3.5em;
   background-color: tomato;

}

.conversation{
    padding: 0.4em 0.2em;
    background-color:#e3e3e3;
    display: flex;
    border-top: 1px solid;
    border-color: ffffff;

}

.conversation:first-child{
    border-top: 0px;
}

b.namecontact{
    display: block;
}


.iconprops{
    text-align: center;
}

.iconeditmsg {
    text-align: center;
}