.objectmessage {
    background-color: #fff;
    /* width: 100%; */
    height: 438px;
}

.combomessage{
    background-color: #e5e5e5;
    padding: 10px 10px 10px;
  /*  height: 10%;*/
}

.inputmessage {
    width: 100%;
    border-radius: 25px;
    border-style: hidden;
    /* border-radius: 25%; */
    /* border: 0; */
    height: 35px;
    background-color: #d9d9d9;
}

.btn-style-send {
    display: block;
    border-radius: 50%;
    border: hidden;
    width: 38px;
    height: 35px;
    margin-left: 5px;
    background-color: #d9d9d9;
}