.objectmessage {
    background-color: #fff;
    /* width: 100%; */
    height: 438px;
    overflow-y: scroll;
}

.boxmessage{
    max-width: 50%;
    min-width: 150px;
    background: #eeeeee;
    padding: 2px;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    float: left;
    clear: left;
    display: block;
}


.combomessage{
    background-color: #e5e5e5;
    padding: 10px 10px 10px;
  /*  height: 10%;*/
}

.inputmessage {
    width: 100%;
    border-radius: 25px;
    border-style: hidden;
    /* border-radius: 25%; */
    /* border: 0; */
    height: 35px;
    background-color: #d9d9d9;
}

.btn-style-send {
    display: block;
    border-radius: 50%;
    border: hidden;
    width: 38px;
    height: 35px;
    margin-left: 5px;
    background-color: #d9d9d9;
}