html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image:

    linear-gradient(#FA8072 0, #FA8072 100%),
    linear-gradient(#FA8072 0, #FA8072 100%);
background-size: 100% 50%;
background-position:bottom right, bottom left;
background-repeat: no-repeat;
}




.container {
    margin: 80px auto 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divisao{
    margin: 10px auto 0;
    background-color : darkred;
}

.combo{
    width: 100%;
    border-style:solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom: 0;
    border-top-width:20px;
    border-top-color:red;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

.combo > p {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
    color:  rgb(226, 212, 21);
}

.combo form{
    display: flex;
    flex-direction: column;
}

.combo form label {
    font-size: 15px;
    color: rgb(185, 185, 185);
    font-weight: bold;
    margin-bottom: 8px;
}

.combo form input{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.combo button.btnSI {
  border:  0; /* zerando a borda padrao que o btn vem */
  margin-bottom: 10px;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background:  #3b9c00;
  color: #fff;
  cursor: pointer; /* da a impressao de pixel quando passa o mouse*/
}

.combo button.btnSU {
     
    border-style: solid;
    border-color: dimgray;
    
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    
    color: #070707;
    cursor: pointer; /* da a impressao de pixel quando passa o mouse*/
  }

 /*Aprendendo a criar efeito de passar o mouse*/
 .combo button.btn:hover{
    background:  #296901;
 }